@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    @apply scroll-smooth
  }
  body {
    @apply font-poppins overflow-x-hidden;
  }
  /* container */
  .container {
    @apply max-w-[1600px] w-full px-4 mx-auto;
  }

  /* BUUUUUUUURDEOS */
  /* announcement */
  .announcement{
    @apply bg-primary text-light font-roboto py-3;
  }
  .announcement__wrapper{
    @apply flex flex-col gap-1 items-center
    /* desktop */
    lg:flex-row lg:justify-between;
  }
  .announcement__socials ul{
    @apply flex flex-row gap-5 text-sm;
  }
  .announcement__socials ul li i{
    @apply border-r-[1px] pr-4 cursor-pointer;
  }
  .announcement__socials ul li:last-child i{
    @apply border-none;
  }
  /* details */
  .details__wrapper{
    @apply flex flex-col gap-2 py-5 px-4
    /* desktop */
    lg:flex-row-reverse lg:justify-end lg:gap-[10rem] lg:border-r-[1px] lg:border-l-[1px]
    lg:border-b-[1px];
  }
  .details__info--wrap{
    @apply flex flex-col gap-2
    /* desktop */
    lg:flex-row lg:gap-[10rem];
  }
  .details__wrapper img{
    @apply hidden
    /* desktop */
    lg:block;
  }
  .details__info{
    @apply flex flex-row gap-4 items-center;
  }
  .details__info i{
    @apply text-4xl text-primary;
  }
  .details__text h5{
    @apply font-semibold;
  }
  .details__text p{
    @apply text-secondary/70 font-roboto;
  }
  .details__text{
    @apply flex flex-col gap-2;
  }
  /* header */
  .header{
    @apply z-50 bg-light sticky;
  }
  .header.open{
    @apply fixed -translate-y-[19rem] w-full z-50 animate-fadeDown
    /* desktop */
    lg:-translate-y-[10.7rem]
  }
  .header.open .header__wrapper{
    @apply border-none;
  }
  .header.open .header__nav{
    @apply top-[0rem];
  }
  .header__wrapper img{
    @apply block
    /* desktop */
    lg:hidden;
  }
  .header__wrapper a{
    @apply hidden
    /* desktop */
    lg:block lg:mr-5;
  }
  .header__nav.open{
    @apply -top-[0] -right-0 z-50 w-[18rem] h-[110vh] fixed;
  }
  .header.open .header__nav.open{
    @apply top-[0rem];
  }
  .header__nav img{
    @apply w-[12rem] pb-8;
  }
  .header__nav input{
    @apply border border-gray-300 p-2 w-[14rem] rounded-sm font-normal focus:outline-blue-300 mb-3;
  }
  .header__nav a{
    @apply text-gray-500 justify-between flex flex-row items-center
  }
  .header__nav a:hover{
    @apply text-secondary
  }
  .header__nav i{
    @apply text-sm /* text-gray-500/50*/;
  }
  /* HEADER DESKTOP */
  .header__nav--desktop{
    @apply hidden
    /* desktop */
   lg:flex lg:flex-row lg:gap-2 pr-[35rem]
  }
  .header__nav--desktop a{
    @apply border-r-[1px] pr-5 h-[1.5rem] text-sm items-center flex font-semibold flex-row;
  }
  .header__nav--desktop i{
    @apply pl-3;
  }
  .header__nav--desktop a{
    @apply duration-500 ease-in-out;
  }
  .header__nav--desktop li{
    @apply duration-500 ease-in-out;
  }
  .header__nav--desktop .active{
    @apply text-primary;
  }
  .header__nav--desktop .active:after{
    @apply opacity-100 w-5;
  }
  .header__nav--desktop li:hover a{
    @apply  text-primary;
  }
  .header__nav--desktop li:hover::after{
    @apply  opacity-100 w-8;
  }
  .header__nav--desktop li:after{
    @apply content-[''] w-1 h-[3px] rounded-md bg-primary absolute opacity-0 duration-500 ease-in-out;
  }
  /* HEADER DESKTOP STICK*/
  .header__nav--desktop.open{
    @apply hidden
    /* desktop */
   lg:flex lg:flex-row lg:gap-2 lg:pr-[22rem] lg:items-center
  }
  .header__nav--desktop.open img{
    @apply hidden
    /* desktop */
    lg:block lg:w-64 lg:pl-10 pr-5;
  }
  .header__nav--desktop.open a{
    @apply border-none;
  }

  /* toggle span side */
  .toggle__menu--side{
    @apply flex flex-col gap-1 relative translate-x-[13rem] -translate-y-[25rem] cursor-pointer ease-in-out duration-700
    /* desktop */
    lg:hidden;
  }
  .toggle__menu--side span{
    @apply content-[*] bg-secondary w-7 h-[.2rem]
    ease-in-out duration-700;
  }
  /* .toggle__menu--side.open span{
    @apply -translate-y-[19rem];
  } */
  .toggle__menu--side span:first-child{
    @apply h-[.2rem];
  }
  .toggle__menu--side.open span:first-child{
    @apply relative file:h-[.2rem] -rotate-45 top-[1rem] duration-700;
  }
  .toggle__menu--side.open span:nth-child(2){
    @apply h-[.2rem] opacity-0 duration-700;
  }
  .toggle__menu--side.open span:last-child{
    @apply relative h-[.2rem] rotate-45 -bottom-[.08rem]  duration-700;
  }
  /* toggle menu */
  .toggle__menu{
    @apply flex flex-col gap-1 cursor-pointer
    /* desktop */
    lg:hidden;
  }
  .toggle__menu span{
    @apply content-[*] bg-secondary w-7 h-[.2rem]
    ease-in-out duration-700;
  }
  .toggle__menu span:first-child{
    @apply h-[.2rem];
  }
  .toggle__menu.open span:first-child{
    @apply relative file:h-[.2rem] -rotate-45 top-2 duration-700;
  }
  .toggle__menu.open span:nth-child(2){
    @apply h-[.2rem] opacity-0 duration-700;
  }
  .toggle__menu.open span:last-child{
    @apply relative h-[.2rem] rotate-45 bottom-2 duration-700;
  }
  /* backdrop */
  .backdrop{
    @apply hidden;
  }
  .backdrop.open{
    @apply block fixed left-0 h-[120vh] w-full bg-secondary/30 backdrop-blur-sm overflow-y-hidden z-20; 
  }
  /* sticky backdrop */
  .header.open .backdrop.open{
    @apply h-[200vh]; 
  }
  /* banner */
  .banner{
    @apply text-light;
  }
  .banner__card{
    @apply h-[20rem];
  }
  .banner__card img{
    @apply h-[30rem] object-cover object-center brightness-50
    /* desktop */
    lg:w-full lg:h-[60vh];
  }
  .banner__text{
    @apply flex flex-col -translate-y-[27rem] translate-x-5
    /* desktop */
    lg:-translate-y-[30rem] lg:translate-x-[20rem];
  }
  .banner__text h4{
    @apply text-2xl font-extrabold underline pb-5;
  }
  .banner__text br{
    @apply block
    /* destop */
    lg:hidden;
  }
  .banner__text h1{
    @apply text-7xl font-extrabold leading-[5rem] pb-10
    /* desktop */
    lg:w-[40%];
  }
  /* .banner__card--btn{
    @apply animate-textFade;
  } */
  .banner__wrapper:hover .banner__button{
    @apply opacity-100;
  }
  .banner__button{
    @apply relative flex flex-row justify-between -translate-y-56 opacity-0 duration-700
    /* desktop */
    lg:-translate-y-40 lg:px-5;
  }
  .banner__slider{
    @apply h-[25rem]
    /* lg:pt-10; */
  }
  /* cta */
  .cta__wrapper{
    @apply flex flex-col px-5 py-10  bg-primary font-roboto
    /* desktop */
    lg:flex-row lg:justify-between lg:mx-32 lg:p-10 lg:rounded-sm lg:z-10 lg:relative lg:translate-y-5 lg:items-center;
  }
  .cta__wrapper p{
    @apply pb-10
    /* desktop */
    lg:pb-0;
  }
  .cta__wrapper a{
    @apply text-center
  /* desktop */
  lg:w-[15rem]
  }
  /* service */
  .service__wrapper{
    @apply py-24 grid grid-cols-1 gap-10
    /* desktop */
    lg:grid-cols-3 lg:py-20;
  }
  .service__card{
    @apply bg-lightBlue p-10 border border-gray-200 flex flex-row justify-center items-start gap-4 duration-700 ease-in-out
  }
  .service__card:hover{
    @apply bg-tertiary text-light
  }
  .service__card:hover i{
    @apply text-light
  }
  .service__card:hover p{
    @apply text-light 
  }
  .service__card i{
    @apply text-tertiary text-5xl duration-700 ease-in-out
  }
  .service__text p{
    @apply font-roboto text-black/60 w-[85%] duration-700 ease-in-out
  }
  .service__text h4{
    @apply font-semibold pb-2
  }



  /* VISSSSSSTA */


  /* project */
  .project {
    @apply bg-fixed bg-cover bg-no-repeat w-full py-28 bg-menu ease-in-out h-auto 
  }
  .project__title {
    @apply text-white text-center
  }
  .project__title h2 {
    @apply text-4xl font-semibold;
  }
  .project__title p {
    @apply font-roboto font-normal;
  }
  .project__title img {
    @apply mx-auto py-6;
  }
  .project__tab {
    @apply flex justify-center;
  }
  .project__tab ul {
    @apply flex gap-6 py-4;
  }
  .project__content {
    @apply w-full flex flex-wrap max-w-[75rem] my-0 mx-auto;
  }
  .project__content .project__item {
    @apply relative m-[4px] w-calc-33p33-8 overflow-hidden cursor-pointer;
  }
  .project__content .project__item {
    @apply lg:w-mobile;
  }
  .project__item img {
    @apply object-cover block duration-300 w-full h-full;
  }
  .project__item:hover img {
    @apply scale-110 img-linear;
  }
  .project__item .overlay {
    @apply absolute w-full h-full top-0 left-0 flex justify-center items-center layer-linear
    p-1 overflow-hidden duration-500 ease-in-out text-white opacity-0;
  }
  .project__item:hover .overlay {
    @apply opacity-100;
  }
  .overlay__text {
    @apply text-center;
  }
  .overlay__text h4 {
    @apply text-[1.2rem];
  }
  .overlay__text p {
    @apply font-roboto pt-4;
  }
  .project__tab li.active {
    @apply text-primary border-b-2 border-primary duration-300;
  }
  .project__tab li {
    @apply cursor-pointer text-white duration-300 border-b-2 border-transparent font-roboto;
  }


  /* readmore */
  .readmore__wrapper{
    @apply lg:flex justify-between
  }
  .readmore__img{
    @apply grid grid-cols-5 gap-3 max-w-[40rem]
    lg:grid-cols-7 
  }
  .readmore__img a img{
    @apply object-cover w-full h-[5rem] blur-[.7px]
  }
  .overlay__readmore .cross{
    @apply opacity-0 bottom-[14.5rem] left-[11.5rem] absolute duration-300 ease-in-out scale-50
    lg:bottom-[17rem] lg:left-[13.1rem]
  }
  .readmore__aboutus--wrap:hover .cross {
    @apply flex absolute duration-300 ease-in-out scale-110 opacity-50
  }
  .readmore__aboutus--wrap .cross:hover {
    @apply opacity-100 duration-300
  }
  .readmore__aboutus svg{
    @apply w-[2.5rem] bg-white rounded-full border-black
  }


  /* shop */
  .shopBanner{
    @apply bg-no-repeat bg-cover w-full bg-left-top bg-shop py-24
  }
  .shop__card{
    @apply border border-gray-100 rounded-2xl duration-100 text-center
    p-10 mb-4
    hover:border-primary 
  }
  .shop__card img{
    @apply mx-auto 
  }
  .shop__card a{
    @apply relative opacity-0 duration-300 bottom-40 lg:bottom-20 py-[1.5rem] lg:py-[1rem] px-[30%] lg:px-[15%] text-lg font-roboto rounded-md
  }
  .shop__card:hover a{
    @apply duration-300 opacity-100 relative
  }
  .shop__card p{
    @apply text-xl font-semibold text-primary
  }
  .shop__card span{
    @apply text-lg font-medium text-pGray font-roboto
  }
  .shop__card h4{
    @apply text-xl font-roboto font-semibold
  }
  .shop__item{
        @apply mb-5 max-w-[35rem] mx-auto border border-gray-100 rounded-xl duration-300
    }
    body {
      @apply font-poppins overflow-x-hidden;
    }
    /* container */
    .container {
      @apply max-w-[1600px] w-full px-4 mx-auto;
    }
    /* project */
    .project {
      @apply bg-fixed bg-cover bg-no-repeat w-full py-28 bg-menu;
    }
    .project__title {
      @apply text-white text-center
    }
    .project__title h2 {
      @apply text-4xl font-semibold;
    }
    .project__title p {
      @apply font-roboto font-normal;
    }
    .project__title img {
      @apply mx-auto py-6;
    }
    .project__tab {
      @apply flex justify-center;
    }
    .project__tab ul {
      @apply flex gap-6 py-4;
    }
    .project__content {
      @apply w-full flex flex-wrap max-w-[75rem] my-0 mx-auto;
    }
    .project__content .project__item {
      @apply relative m-[4px] w-calc-33p33-8 overflow-hidden cursor-pointer;
    }
    .project__content .project__item {
      @apply lg:w-mobile;
    }
    .project__item img {
      @apply object-cover block duration-300 w-full h-full;
    }
    .project__item:hover img {
      @apply scale-110 img-linear;
    }
    .project__item .overlay {
      @apply absolute w-full h-full top-0 left-0 flex justify-center items-center layer-linear
      p-1 overflow-hidden duration-500 ease-in-out text-white opacity-0;
    }
    .project__item:hover .overlay {
      @apply opacity-100;
    }
    .overlay__text {
      @apply text-center;
    }
    .overlay__text h4 {
      @apply text-[1.2rem];
    }
    .overlay__text p {
      @apply font-roboto pt-4;
    }
    .project__tab li.active {
      @apply text-primary border-b-2 border-primary duration-300;
    }
    .project__tab li {
      @apply cursor-pointer text-white duration-300 border-b-2 border-transparent font-roboto;
    }


    /* readmore */
    .readmore__wrapper{
      @apply lg:flex justify-between
    }
    .readmore__img{
      @apply grid grid-cols-5 gap-3 max-w-[40rem]
      lg:grid-cols-7 
    }
    .readmore__img a img{
      @apply object-cover w-full h-[5rem] blur-[.7px]
    }
    .overlay__readmore .cross{
      @apply opacity-0 bottom-[14.5rem] left-[11.5rem] absolute duration-300 ease-in-out scale-50
      lg:bottom-[17rem] lg:left-[13.1rem]
    }
    .readmore__aboutus--wrap:hover .cross {
      @apply flex absolute duration-300 ease-in-out scale-110 opacity-50
    }
    .readmore__aboutus--wrap .cross:hover {
      @apply opacity-100 duration-300
    }
    .readmore__aboutus svg{
      @apply w-[2.5rem] bg-white rounded-full border-black
    }


    /* shop */
    .shopBanner{
      @apply bg-no-repeat bg-cover w-full bg-left-top bg-shop py-24
    }
    .shop__card{
      @apply border border-gray-100 rounded-2xl duration-100 text-center
      p-10 mb-4
      hover:border-primary 
    }
    .shop__card img{
      @apply mx-auto 
    }
    .shop__card a{
      @apply relative opacity-0 duration-300 bottom-40 lg:bottom-20 py-[1.5rem] lg:py-[1rem] px-[30%] lg:px-[15%] text-lg font-roboto rounded-md
    }
    .shop__card:hover a{
      @apply duration-300 opacity-100 relative
    }
    .shop__card p{
      @apply text-xl font-semibold text-primary
    }
    .shop__card span{
      @apply text-lg font-medium text-pGray font-roboto
    }
    .shop__card h4{
      @apply text-xl font-roboto font-semibold
    }
    .shop__item{
          @apply mb-5 max-w-[35rem] mx-auto border border-gray-100 rounded-xl duration-300
    }
    .shop__item:hover{
      @apply border-black rounded-xl
    }
    .shop__item i{
        @apply text-black px-3 py-2 font-bold
        flex items-center cursor-pointer duration-700
    }
    .shop__item h4{
        @apply text-black px-6 py-4 font-bold
        flex items-center cursor-pointer duration-500 
    }
    .shop-icons i.open:first-child{
      @apply hidden
    }
    .shop-icons i:first-child{
      @apply block
    }
    .shop-icons i:last-child{
      @apply hidden
    }
    .shop-icons i.open:last-child{
      @apply block
    }
    .shop__item p{
        @apply bg-slate-50 h-auto max-h-0 overflow-hidden duration-300 px-10 rounded-xl ease-in-out
    }
    .shop__item p.open{
        @apply max-h-[50rem] bg-slate-50 pb-4
    }
    .shop__img img{
        @apply hidden 
        lg:rounded-sm lg:block
    }
    .shop__tab li{
      @apply cursor-pointer font-semibold text-secondary py-2
    }
    .shop__details{
        @apply hidden
        /* desktop */
    }
    .shop__details.active{
        @apply block lg:grid lg:grid-cols-3
    } 
    .shop__tab-btn.active{
      @apply border-b-2 border-primary
    }
    .shop__tab-btn{
      @apply border-b-2 border-transparent
    }
    .shop__module p{
      @apply font-roboto mt-8 border border-gray-200 w-full p-4 text-lg text-gray-400 rounded-xl duration-300
    }
    .shop__module p:hover{
      @apply border-black 
    }
    .shop__module h2{
      @apply text-[1.4rem] border-b-[3px] border-gray-200 pb-4
    }
    .shop__module span{
      @apply w-[30%] h-[3px] bg-primary block mt-[-3px]
    }
    .shop__nav-title h2{
      @apply text-[1.4rem] border-b-[3px] border-gray-200 pb-4
    }
    .shop__nav-title span{
      @apply w-[30%] h-[3px] bg-primary block mt-[-3px]
    }



    

    /* ABOUT SERVICE */
.aboutService__wrapper {
  @apply py-24 grid grid-cols-1 gap-10;
  /* For desktop */
  @apply lg:grid-cols-3 lg:py-20;
}
.aboutService__card {
  @apply p-10 border border-gray-200 flex flex-row justify-center items-start gap-4 duration-700 ease-in-out cursor-pointer;
}

.aboutService__card:hover {
  @apply bg-tertiary text-light;
}

.aboutService__card:hover i {
  @apply text-light;
}

.aboutService__card:hover p {
  @apply text-light;
}

.aboutService__card i {
  @apply text-tertiary text-5xl duration-700 ease-in-out;
}

.aboutService__text p {
  @apply font-roboto text-black/60 w-[85%] duration-700 ease-in-out;
}

.aboutService__text h4 {
  @apply font-semibold pb-2;
}




    /* OUR TEAM */
  .ourTeam:before{
    @apply inline-block;
  }
  .ourTeam__text{
    @apply max-w-[21.3rem] gap-[1.5rem] p-[2rem]  lg:h-[22.5rem] lg:max-w-[50rem] lg:pt-[5rem] lg:flex lg:flex-col 
  }
  .ourTeam__card{
    @apply  ml-[1rem] lg:flex  lg:pb-[1rem]  pb-[1rem] lg:justify-center font-roboto
  } 
  .ourTeam__card img{
    @apply h-[26rem]
  }
  .ourTeam__title{
    @apply pt-[5rem] 
  }
  .ourTeam__title p{
    @apply pb-[2rem] 
  }
  .ourTeam__icon i:first-child{
    @apply mr-2
  }
  .ourTeam__icon i:hover{
    @apply text-tertiary
  }
  .ourTeam__icon i{
    @apply duration-300
  }
  .ourTeam{
    @apply gap-[5rem]
  }
  .ourTeam__title h2{
    @apply lg:pb-[2rem] pt-10 pb-[1rem]
  }
  .ourTeam__card{
    @apply lg:scale-[.90]
  }
  .aboutService__wrapper {
    @apply py-24 grid grid-cols-1 gap-10;
    /* For desktop */
    @apply lg:grid-cols-3 lg:py-20;
  }

  /* LATEST NEWS */
  .latest__card {
    @apply border border-gray-400  pb-6 h-auto w-[26rem];
  }
  .latest__parent{
    @apply grid gap-[1.5rem] lg:grid lg:grid-cols-3
  }
  .latest__card p{
    @apply pt-2 font-roboto font-normal text-base text-pGray
  }
  .latest__card a{
    @apply mt-5 pt-[2rem] font-normal
  }
}

@layer components{
    .footer__wrapper{
        @apply max-w-[88rem] w-full mx-auto
    }
    .footer__gallery{
        @apply grid grid-cols-4 gap-4 justify-center mx-0 my-auto
    }
    .footer__gallery a:last-child{
        @apply translate-x-40 relative 
    }
    .footer__gallery img{
        @apply h-auto w-auto
    }
    .footer i{
        @apply text-primary text-3xl
    }
    .footer h4{
        @apply text-white
    }
    .footer p{
        @apply font-roboto text-pGray
    }
    .footer__support{
        @apply flex gap-4 px-4 py-8 
    }
    .footer__news h2{
        @apply text-white text-[1.4rem]
    }
    .footer__news h2 span{
        @apply w-[35px] h-[2px] bg-primary block mt-[10px]
    }
    .footer__news-text ul{
        @apply py-4
    }
    .footer__news-text li{
        @apply py-1
    }


    .scrollUp a{
      @apply fixed bottom-0 right-16 text-white py-[.50rem] px-[.75rem] bg-black rounded-full font-bold duration-500 bg-opacity-0 opacity-0
    }
    .scrollUp a.active{
      @apply bottom-10 pointer-events-auto opacity-100 bg-opacity-40
      hover:bg-opacity-100
    }
    

}

@layer utilities {
  .w-calc-33p33-8 {
    width: calc(50% - 20px);
  }
  .w-mobile {
    width: calc(25% - 20px);
  }

  .layer-linear {
    background: rgba(100, 117, 15, 0.9);
  }
  .img-linear {
    background: rgba(0, 0, 0, 0.5);
  }
  .footer__x {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer__y {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer__line-t {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer__line-b {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer__line-l {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer__line-r {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer__after{
    position: relative;
    display:inline-block;
    content: " ";
    background-color: primary;
    height: 0.2rem;
    width: 3rem;
    align-self: center;
    bottom: .3rem;
    right: .5rem;
  }

  .btn--primary{
    padding: .8rem 2rem;
    background-color: #9fba1a;
    border: 1px solid #9fba1a ;
    font-weight: 600;
    color: white;
    transition: 0.2s ease;
    font-size: .9rem;
    &:hover{
            background-color: #8ba216;
            color: $clr-secondary;
            transition: 0.2s ease;
            border: 1px solid transparent;
        }
  }

  .shop-grid{
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }


  
  /* .shopBanner-wrap::before{
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 100%;
    height: 20%;
    display: block;
    background-color: rgba(0, 0, 0, 0.70);
  } */

  
  .btn{
    @apply py-4 px-7 bg-transparent border border-transparent rounded-md;
  }
  .btn.bg--light {
    @apply bg-light text-secondary font-roboto underline text-sm font-bold duration-300 ease-in
    hover:bg-primary hover:text-light hover:no-underline ;
  }
  .btn.bg--chevron {
    @apply bg-light text-secondary duration-300 ease-in py-6 px-8 rounded-none cursor-pointer
    hover:bg-secondary hover:text-light;
  }
  .btn.bg--white {
    @apply bg-light text-tertiary py-3 font-bold duration-300 ease-in hover:bg-tertiary hover:text-white;
  }
  .btn.bg--green {
    @apply bg-primary text-white font-roboto py-3 rounded-none font-bold duration-300 ease-in hover:bg-tertiary hover:text-white;
  }
  /* slider */
  .banner__card.tns-slide-active h1{
    @apply animate-textFade;
  }
  .banner__card.tns-slide-active h4{
    @apply animate-textFade;
  }
  .banner__card.tns-slide-active .banner__card--btn{
    @apply animate-textFade;
  }

}
